<app-header title="Inputs"></app-header>

<ion-content class="ion-padding">

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-list-header>
        <ion-label>Formulario template: Valido {{form.valid}}</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"
                   name="email"
                   [(ngModel)]="user.email"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"
                   name="password"
                   [(ngModel)]="user.password"
                   required>
        </ion-input>
      </ion-item>
  
    </ion-list>

    <ion-button expand="full" 
                type="submit" 
                [disabled]="form.invalid">
      Enviar
    </ion-button>

  </form>




</ion-content>
